pynapple
neo[nwb]
phylib>=2.6.4
pyqtgraph
sounddevice
audioio
vocalpy
ruptures
noisereduce
pynwb
pyyaml
neuroconv
# nwb-video-widgets[dandi]
nwb-video-widgets[dandi] @ git+https://github.com/Akseli-Ilmanen/nwb-video-widgets.git
lindi
dandi
remfile
git+https://github.com/timsainb/vocalization-segmentation.git
napari-pyav @ https://github.com/horsto/napari-pyav/releases/download/v0.0.10.1/napari_pyav-0.0.10-py3-none-any.whl
-e .